*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* Background */

body{
height:100%;
width:100%;
background:linear-gradient(135deg,#0f172a,#1e1b4b,#020617);
}

/* Parent container */

.parent{
height:100vh;
width:100%;
display:flex;
justify-content:center;
align-items:center;
}

/* Card */

.card{
height:480px;
width:750px;
padding:30px 40px;
background:rgba(71,67,140,0.9);
border-radius:30px;
color:white;
box-shadow:0 20px 40px rgba(0,0,0,0.4);
display: flex;
}

/* Top Navbar */

.top{
display:flex;
align-items:center;
justify-content:space-between;
margin-bottom:30px;
}
.top .logo{
  background-color: #1e1b4b;
  border-radius: 4px;
}

/* Menu buttons */

.menu{
display:flex;
gap:10px;
}

.menu button{
height:35px;
padding:0 15px;
color:white;
background:#1e1b4b;
border-radius:8px;
border:1px solid black;
cursor:pointer;
}

/* Right icons */

.icons{
display:flex;
gap:15px;
cursor:pointer;
background-color:#1e1b4b ;
border-radius: 3px;
}

/* Center layout */

.center{
display:flex;
align-items:center;
justify-content:space-between;
gap:30px;
}

/* Left section */

.left{
width:220px;
}

.left h1{
margin-bottom:10px;
line-height: 1.2;
}

.left p{
margin-bottom:15px;
line-height:1.4;
}

/* Buttons */

.btns{
display:flex;
gap:15px;
}

.btns button{
height:40px;
width:110px;
background:white;
color:black;
border-radius:8px;
border:1px solid black;
cursor:pointer;
}

/* Image container */

.img1{
display:flex;
justify-content:center;
align-items:center;
}

/* Image */

.img{
height:250px;
width:200px;
object-fit:cover;
border-radius:12px;
box-shadow:0 0 30px rgba(137,135,235,0.9);
}

/* About section */

.center1{
width:200px;

padding:20px;
border-radius:15px;
}

.center1 h1{
margin-bottom:10px;
}

.center1 p{
margin-bottom:15px;
line-height:1.4;
}

.center1 button{
height:40px;
width:120px;
background:#fff;
color:black;
border-radius:8px;
border:1px solid black;
cursor:pointer;
}



  